<!-- <div class="bg">
    <div class="caption">
        <button (click)="getstarted()">
            <span class="border">Let's Get Started</span>
        </button>
    </div>
</div> -->

<div class = "bg">
    <div class = "row">
        <div class = "col-md-4">
            <img src="/assets/images/FoodMascot.png">
        </div> 
        <div class = "col-md-8">
            <h1 class = "header">What2Eat</h1>
            <p class = "slogen">Satisfying your undiscovered cravings</p>
            <br/><br/> <br/> <br/> <br/>
            <div style="text-align: center"> 
                <button class ="button1" (click)="getstarted()">Let's Get Started</button>
                <!-- <div class="divider"></div> -->
                <!-- <button class ="button1" (click)="getstarted()">Register</button> -->
            </div>
        </div>
    </div>
</div>


<!-- 
<img mat-card-image [src]="background">
<mat-card>
    <button (click)="getstarted()" mat-menu-item>
        <span>Let's Get Started</span>
    </button>
</mat-card>  -->