<div class='center'>
    <br/>
    <br/>
    <br/>
    <h1>How do you feel today?</h1>
    <hr class="dotted">
    <br/>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/images/healthy_choice_adobespark.png">
                <button class="button1" (click)="searchDish(1)">Healthy</button>
            </div>
            <div class="col-md-4">
                <img src="/assets/images/meaty_choice_adobespark.jfif">
                <button class="button1" (click)="searchDish(2)">Carnivorous</button>
            </div>
            <div class="col-md-4">
                <img src="/assets/images/Sunny_choice_adobespark.jfif">
                <button class="button1" (click)="searchDish(3)">Scorching</button>
            </div>
        </div>
        <br>
        <div class = "row">
            <div class="col-md-4">
                <img src="/assets/images/rainy_choice_adobespark.jfif">
                <button class="button1" (click)="searchDish(4)">Rainy</button>
            </div>
            <div class="col-md-4">
                <img src="/assets/images/suprise_choice_adobespark.jfif">
                <button class="button3" (click)="searchDish(5)">Surprise Me</button>
            </div>
            <div class="col-md-4">
                <img src="/assets/images/ComingSoon_adobespark.jfif">
            </div>

        </div>

        <br/>
        <br/>
        <br/>
    </div>
</div>
