.box {
    background-color: #12BFD7;
    width: 350px;
    height: 500px;
    border: 15px solid #12BFD7;
    padding: 50px;
    margin: 20px;
    border-radius: 10%;
  }

  .center {
    margin: auto;
    width: 60%;
    background-color: 3px solid #12BFD7;
    padding: 10px;
  }

  .button1 {
    background-color: white; 
    border: none;
    color: gray;
    padding: 15px 32px;
    text-align: center;
    text-decoration:cornsilk ;
    display: inline-block;
    font-size: 15px;
    border-radius: 12px;
    width: 50%;
}
p {
    font-size: 40px;
    font-style: italic;
    color: #12BFD7;
}