
ngb-rating {
    color: #FFC107;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.mat-list-base.inline-list {
    display: flex;
}

div.center {
  width: 70%;
  margin: auto;
  /* border: 3px solid #73AD21; */
}


.center {
    margin-left: auto;
    margin-right: auto;
  }

.heading {
    display: table;
    margin: 0 auto;
    padding: 5px;
    color: #12BFD7;
    font-size: 50px;
  }


  ngb-rating {
    font-size: 50px;
    /* color:yellow; */
    /* background: rgba(23, 221, 16, 0.815); */
  }
  .button {
    background-color: #12BFD7; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
  }

  ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #12BFD7; 
 }