
ngb-rating {
    color: #FFC107;
}

.mat-list-base.inline-list {
    display: flex;
}

div.center {
  width: 70%;
  margin: auto;
  /* border: 3px solid #73AD21; */
}


.center {
    margin-left: auto;
    margin-right: auto;
  }

.heading {
    display: table;
    margin: 0 auto;
    padding: 5px;
  }


  ngb-rating {
    font-size: 50px;
    /* color:yellow; */
    /* background: rgba(23, 221, 16, 0.815); */
  }
  .button {
    background-color: #4e4caf; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
  }