<div class="container">
    <div class="p-5 text-center bg-light">
        <h1 class="mb-5">{{food.recipe_name}}</h1>
        <hr class="dotted">
        <!-- <h4 class="mb-3">Subheading</h4>
        <a class="btn btn-primary" href="" role="button">Call to action</a> -->
    </div>

    <div class = "row">
        <div class="col-md-6">
            <img [src] = "food.image_url" class="center" >
        </div>
        <div class="col-md-6" text-align="center">
            <button class="button1" (click)="showDetails(1)">Recipe</button><br><br>
            <button class="button1" (click)="showDetails(2)">Cooking Instruction</button><br><br>
            <button class="button1" (click)="searchInGoogle()">Where2Eat</button><br><br>
        </div>
    </div>
    
    <div class = "row">
        <hr class="hr2" *ngIf="showRecipe || showInstruction">
        <p class="font-weight-light" *ngIf="showRecipe">{{food.ingredients}}</p>
        <p class="font-weight-light" *ngIf="showInstruction">{{food.methods}}</p>
        
    </div>
    <div class = "row">
        <hr class="hr2">
        <div class="col-md-6">
            <button class="button4" (click)="stepBack()">Back</button><br><br>
        </div>
        <div class="col-md-6">
            <button class="button5" (click)="rate()">Rate</button><br><br>
        </div>
    </div>

</div>