
<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink='/frontpage' mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <div *ngIf="username">
      <button mat-menu-item>
        <mat-icon>cake</mat-icon>
        <span>You are loggged in as {{ username }}</span>
      </button>
      <!-- add from here -->
      <button routerLink='/howDoYouFeelToday' mat-menu-item>
        <mat-icon>star</mat-icon>
        <span>Pick a dish now</span>
      </button>
      <button mat-menu-item>
        <mat-icon>lightbulb</mat-icon>
        <span>Prediction</span>
      </button>
      <button routerLink='/foodinformation' mat-menu-item>
        <mat-icon>fastfood</mat-icon>
        <span>Food Information</span>
      </button>
      <!-- to here -->
      <button (click)="logout()" mat-menu-item>
        <mat-icon>done</mat-icon>
        <span>Log out</span>
      </button>
    </div>
    <div *ngIf="username == ''">
      <button routerLink='/login' mat-menu-item>
        <mat-icon>cake</mat-icon>
        <span>Login</span>
      </button>
      <button routerLink='/register' mat-menu-item>
        <mat-icon>icecream</mat-icon>
        <span>Register</span>
      </button>
    </div>
  </mat-menu>  
  <span class="example-spacer"></span>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<router-outlet></router-outlet>